{% extends 'base.html' %}

{% block body %}

<form method="post" action="/insert">
    <div>
        <input type="radio" name="loc" value="kungki">경기
    </div>

    <div>
        <label>지역</label>
        <select name = "location" size="3">
            <option value = "suwon">수원시</option>
        </select>
    </div>
    <div>
        <label>세부 지역</label>
        <select name = "detail_location" size="3">
            <option value = "jangan">장안구</option>
        </select>
    </div>
    <div class='button'>
        <input type="submit" value="전송">
        <input type="reset" value="취소">
    </div>
</form> 
{% endblock %}